{%extends 'base.html'%}
{%block content%}
        <p>카테고리 : {{post.category}}</p>
        <p>글 쓴이 : {{post.user}}</p>
        <p>글 제목 : {{post.title}}</p>
        <p>글 내용</p>
        {{post.content|linebreaksbr}}
        <br>
        <a href='/'>돌아가기</a>
        {%if request.user == post.user or request.user.is_staff %}
        <a href="{%url 'update' post.id%}">수정하기</a>
        <a href="{%url 'delete' post.id%}">삭제하기</a>
        {%endif%}
        {%if post.pic%}
        
        {%endif%}
{%endblock%}